{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [ "eslint:recommended", "airbnb" ],
  "plugins": [ "json", "mocha" ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "class-methods-use-this": ["off"],
      "comma-dangle": [
        "error", {
          "arrays": "only-multiline",
          "objects": "only-multiline",
          "imports": "never",
          "exports": "never",
          "functions": "never"
        }],
  }
}
