{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [ "eslint:recommended", "airbnb" ],
  "plugins": [ "json", "mocha" ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "padded-blocks": ["error", "always"]
  }
}
