language: node_js
node_js: node
cache: yarn

before_install: yarn global add greenkeeper-lockfile@1

before_script: greenkeeper-lockfile-update

script: yarn run test-ci

after_script: greenkeeper-lockfile-upload

deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_API_KEY
  on:
    tags: true
